@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

.fa-xmark {

    transition: transform 0.15s ease-in-out;
}

.fa-xmark:hover {
    transform: scale(1.2);
}

.form-control[style*="#C3B1E1"]:active {
    transform: scale(0.99);
    box-shadow: none !important;
}

input:focus {
    box-shadow: 0 0 0 0.25rem #FFC9E3 !important; /* Resplandor suave rosa pastel */
    border-color: #FF91AE !important; /* Borde rosa chicle */
}
